extends layout/html
block head
    title=title
    link(href='/css/index.css',rel='stylesheet')
    link(href='/css/bootstrap/bootstrap.css',rel='stylesheet')
block content
    ul#messages
    form(action='')
        input#m(autocomplete='off')
        button.btn.btn-primary Send
block script
    script(src='/plug/jQuery/jquery.js')
    script(src='/script/tether/tether.min.js')
    script(src='/plug/socket.io/index.js')
    script(src='/script/bootstrap/bootstrap.js')
    script(src='/script/index.js')